<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoアプリ</title>
</head>
<body>
  <% day = Date.today.wday %>
  <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
    <% day = days[day] %>
    <p>今日は<%= day %>曜日です。</p>
    <% if day == "月" %>
      <p><%= day %>曜日のToDo</p>
      <p>・HTMLの学習</p>
    <% elsif day == "火" %>
      <p><%= day %>曜日のToDo</p>
      <p>・CSSの学習</p>
    <% elsif day == "水" %>
      <p><%= day %>曜日のToDo</p>
      <p>・javaScriptの学習</p>
    <% elsif day == "木" %>
      <p><%= day %>曜日のToDo</p>
      <p>・jQueryの学習</p>
    <% elsif day == "金" %>
      <p><%= day %>曜日のToDo</p>
      <p>・Rubyの学習</p>
    <% else %>
      <p>週末のToDo</p>
       <p>・Webアプリケーションの開発</p>
    <% end %>
</body>
</html>